
@{
    ViewData["Title"] = "Index";

}


@* 
@{
    var name = ViewBag.name;
    <h1>@name</h1>
}
*@

@DateTime.Now

@{
    var datetime = DateTime.Now()
}


@{
    { DateTime.Now}
}


@{
    <text>Merhaba Dünya</text>
}


<p> ornek@@hotmail.com </p>

<h1>Örenek Controller , Index Sayfası</h1>

@*
    <p>@name</p>
    <p>@ViewBag.name</p>
    <p>@ViewData["age"]</p>


    @foreach (var item in ViewData["NameList"] as List<string>)
    {
    <h4>@item</h4>

    }

    @ViewBag.Person.ıd - @ViewBag.Person.Name - @ViewBag.Person.Age*@
